*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* importera typsnitt från Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');

/* sätt variabler
:root {
    /* brytpunkter 
    --tablet-breakpoint: 768px;
    --laptop-breakpoint: 960px;
    --desktop-breakpoint: 1200px;
    /* storlek container 
    --tablet-container: 720px;
    --laptop-container: 920px;
    --desktop-container: 1140px;
    /* färger 
    --primary-color: rgba(255,0,0,1);
    --secondary-color: rgba(0,255,0,1);
    /* typsnitt 
    --text-font: 'Montserrat', sans-serif;
    --heading-font: 'Merriweather', serif;
}*/


/* basen för hemsidan */
html {
    font-size: 16px;
}

html,
body {
    height: 100%;
}

/*Här placeras allt innehåll på hemsidan*/
body {
    background-color: transparent;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: normal;
    font-style: normal;
    /*min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;*/
}

a {
 /*   -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #333;*/
}

a:hover {
    text-decoration: none;
}


/*sidinnehåll*/
.site-content {}

/*inställningar för rubriker*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather';
    font-weight: 900;
    line-height: 1.1;
    margin-bottom: 0.25rem;
}

/*inställningar för text*/
p {
    margin-bottom: 1rem;
    font-style: normal;
    font-family: 'Lato';
}

/* "hjälp-klasser/bakgrund till container mitten av sidan */
.container {
    position: relative;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

/*knapp till toppen*/
.section1 {
    width: 100%;
    height: 300vh;
    background: none;
    background-size: none;
}

.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background: black;
    bottom: 40px;
    right: 50px;
    border-radius: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
}

/*------INSTÄLLNINGAR HEADERN------*/

/* project */
#to-content {   
}
    


/*container utanför header, åt sidorna*/
.site-header {
    position: relative;
    background-color: #111;
    background-size: cover;
}

/*container under header. överst*/
.site-header .container {
    display: flex;
    justify-content: space-between; /* gör mellanrum mellan objekten */
    align-items: center; /* justera objekten till mitten i containern */
    background-color: none;
    background-size: cover;
    
}

.logo {
    width: 150px;
    margin: 10px 20px;
    float: left;
    height: auto;
    max-width: 200px;
}


.toggle-menu {
    font-size: 3rem;
    position: absolute;
    top: 50px;
    right: 20px;
    color: white;
    background-color: none;
}

.site-navigation {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    z-index: 1000;
    background-color:#111;
    padding: 10px 0;
}

.site-navigation a {
    display: block;
    padding: .25rem 1.5rem;
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
    text-transform: uppercase;
    padding: 50px 0 50px 10px;
    text-align: center;

}
.site-navigation a:hover {
    background-color: #ddd;
    color: #333;
}


.show {
    display: block;
}




/*inställningar för stora bilden på indexsidan*/
.index-image {
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("/images/space-2519837_1920.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: scroll;
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
  }



.home .full-screen {
    min-height: 100vh;
}

.home .home-content {
flex: 0 0 100%;
max-width: 100%;
display: flex;
flex-wrap: wrap;
align-items: center;
}

.home .home-content .block {
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 35px;
    border-left: 5px solid white;
    margin-top: 50px;
}

.home .home-content .block h6 {
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.home .home-content .block h1 {
    color: white;
    font-size: 70px;
    font-weight: 600;
    margin: 0;
    padding:0;
}
.home .home-content .block h3 {
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.home .home-content .block .cv-btn {
    padding-top: 20px;
}

.home .home-content .block .cv-btn a {
    border-radius: 4px;
    color: white;
    border: 1px solid white;
    padding: 12px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease;
    background-color: transparent;
}

.home .home-content .block .cv-btn a:hover {
    background-color: white;
    color: grey;
}



* Features Section */
.features {}
.features .grid {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    justify-content: center;
    justify-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
}
.features .features-healine {
    font-size: 3rem;
}
.features .feature {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;   
    margin-top: 10%;
}
.features .feature:nth-of-type(even) {
    background-color: white;
}
.features .feature i {
    font-size: 10rem;
    margin-top: 10%;
}




/* index-sida med tre affärsidéer*/
.box-area {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    left: 50%;
}

.single-box2 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: auto;
    border-radius: 4px;
    background-color: #fff;
    text-align: center;
    margin: 20px;
    padding: 20px;
    transition: .3s;
    padding-top: 70px;
    }

    .img-area2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        border: 4px solid #ddd;
        border-radius: 50%;
        margin-bottom: 10px;
        padding: 20px;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center center;
    }

    .single-box2:nth-child(1) .img-area2 {
        background-image: url(../images/ylab.png)
    }

    .single-box2:nth-child(2) .img-area2 {
        background-image: url(../images/Logo-FlaktWood-2017.png)
    }

    .single-box2:nth-child(3) .img-area2 {
        background-image: url(../images/nedladdning.png)
    }

    .header-text2 {
        font-size: 24px;
        font-weight: 500;
        line-height: 48px;
    }

    .img-text2 {
        padding-top: 20px;

    }

    .img-text2 p {
        font-size: 15px;
        font-weight: 400px;
        line-height: 30px;
    }
    /*
    .single-box2:hover {
        background: black;
        color:#fff;
    }*/

.cta-section {
    background: url(../images/excavators-1178241_1920.jpg) center/cover no-repeat;
    position: relative;
    overflow: hidden;
    padding: 20px 30px;
    margin-top: 100px;
    margin-bottom: 80px;
    width: 100%;
    height: 100%;
}

.background-overlay {
    background: linear-gradient(to right, rgba(100,75, 70)0%, rgba(120, 90, 80, 0.7)100% );
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

.cta-content {
    z-index: 1;
    position: relative;
    max-width: 1200px;
    margin: auto;
    padding: 70px 0;
    height: 300px;
}

.col-content h2 {
font-size: 50px;
letter-spacing: 20x;
margin: 15px 0;
text-align: center;
color: white;
}

.col-content p {
    line-height: 2px;
    text-align: center;
}

.cta-btn {
    padding: 18px 40px;
    line-height: 21px;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    background-color: #111;
    color: white;
}

.btn-holder {
    margin: 0 100px;
}

.cta-col {
    margin-bottom: 15px;
    width: 100%;
    float: left;
    color: white;
}

.col_2 {
    display: flex;
    align-items: center;
    justify-content: center;
}









.cta-section {
    background: url(../images/excavators-1178241_1920.jpg) center/cover no-repeat;
    position: relative;
    overflow: hidden;
    padding: 20px 30px;
    margin-top: 100px;
    margin-bottom: 80px;
    width: 100%;
    height: 100%;
}

.background-overlay {
    background: linear-gradient(to right, rgba(100,75, 70)0%, rgba(120, 90, 80, 0.7)100% );
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

.cta-content5 {
    z-index: 1;
    position: relative;
    max-width: 1200px;
    margin: auto;
    padding-right: 50%;
    padding-bottom: 25%;
}

.col-content5 h2 {
font-size: 30px;
letter-spacing: 20x;
margin: 15px 0;
}

.col-content5 p {
    line-height: 2px;
}

.cta-btn5 {
    padding: 18px 40px;
    line-height: 21px;
    font-size: 10px;
    text-decoration: none;
    background:rgba(225, 99, 2, 0.959);
    text-transform: uppercase;
    display: block;
}

.btn-holder5 {
    position: center;
    float: left
}

.cta-col5 {
    margin-bottom: 15px;
    width: 100%;
    float: left;
    color: white;
}

.col_2 {
    display: flex;
    align-items: center;
    justify-content: center;
}







.box-area3 {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.single-box3 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: auto;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    margin: 20px;
    padding: 20px;
    transition: .3s;
    border: 2px solid #ddd;
    }

    .single-box3 h2 {
        font-size: 16px;
        margin-top: 10%;
    }

    .img-area3 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 150px;
        border-radius: 100%;
        margin-bottom: 10px;
        padding: 20px;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: center center;
    }

    .single-box3:nth-child(1) .img-area3 {
        background-image: url(../images/technical-drawing-3324368_1920.jpg)
    }

    .single-box3:nth-child(2) .img-area3 {
        background-image: url(../images/car-2755551_1920.jpg)
    }

    .single-box3:nth-child(3) .img-area3 {
        background-image: url(../images/shaking-hands-3091906_1920.jpg)
    }

    .header-text3 {
        font-size: 17px;
        font-weight: 500;
        line-height: 30px;
    }

    .img-text3 {
        padding-top: 20px;

    }

    .img-text3 p {
        font-size: 15px;
        font-weight: 400px;
        line-height: 30px;
    }

    .single-box3:hover {
        background: grey;
        color:#fff;
    }




/*-----aktuellt------*/







/*VÅRA PROJEKT-SIDAN*/




.single-service2 {
    background: #212121;
    padding: 60px;
    height: 400px;
    width: 300px;
    justify-content: space-between;
    transition: all 0.9s ease 0s;
}

.single-service2 h3 {
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
}

.single-service2 p {
    display: none;
    transition: all 0.9s ease 0s;
    color: #fff;
    font-weight: 700;
}

.single-service2 i {
    color: rgb(92, 36, 36);
    font-size: 80px;
    padding-bottom: 20px;
}

.single-service2:hover p {
    display: block;
}

.single-service2:hover i {
    font-size: 120px;
    transition: 0.9s;
    color: #fff;
}

.single-service2:hover {
    background: pink
}


/*inställningar för hela blocket undre headern*/
.front-page.products {
    background-color: #333;
    padding-left: 60px;
    padding-right: 60px;
}


/*inställningar kollumer på sidorna*/
.column {
    /*background-color: #777;*/
    padding: 50px 20px;
    margin-bottom: 40px;
}

/*inställningar utrymme mellan block och innehåll*/
.front-page.products.flex .container {
    display: flex;
    max-width: none;
    background-color: teal;
}

/*inställningar för blocket med till de tre bilderna, våra projekt*/
.front-page.products .product {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: violet;
}

/*inställningar för bakom text till de tre bilderna, våra projekt*/
.front-page.products .product-name,
.front-page.products .product-description {
    margin-bottom: 1rem;
    padding: 0 1rem;
    background-color: tomato;
}

/*.front-page.products .product a {
    margin-bottom: 0;
    padding: inherit;
}



a:focus {
    outline:0 solid;
}

/*inställningar för bild på sida alla sidor*/
img {
    /* width: 100%; */ /* gör bilden responsiv och alltid 100% av ytan */
    max-width: 100%; /* gör bilden responsiv, men inte större än sin ursprungliga storlek */
    height: auto;
}

iframe {
    display: block;
    background-color: yellowgreen;
}




/** Page Cover Section **/
.page-cover {
    height: 85vh;
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 3fr auto auto;

    grid-template-areas: 
    "."
    "title"
    "text";
}


.table-box {
    margin: 30px auto;
}

.table-row {
    display: table;
    width: 38%;
    margin: 10px auto;
    background: transparent;
    padding: 12px 0;
    color: #111;
    font-size: 13px;
    box-shadow: 0 1px 4px 0 rgba(0,0,50,0.3);
}

.table-cell {
    display: table-cell;
    width: 37%;
    text-align: center;
    padding: 4px 0;
    border-right: 1px solid #d6d4d4;
    vertical-align: middle;
}

.table-head {
    background: #111;
    box-shadow: none;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}

.table-head .table-cell {
    border-right: none;
}

.last-cell {
    border-right: none;
}

.container-project {
    padding: 40px 40px;
    text-align: center;
    color: black;
    background-color: grey;
    width: 38%;
    height: auto;
    margin-left: 31%;
    margin-top: 5%;
    margin-bottom: 1%;
}

.container-project p {
    max-width: 600px;
    margin: 40px auto;
    font-size: 15px;
    font-weight: 300;
    margin-top: 15px;
    margin-bottom: 15px;
}

.container-project h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
}

.email-box {
    height: 40px;
    display: flex;
    justify-content: center;
    color: white;
}

.email-box i {
    background: #111;
    color: white;
    width: 40px;
    line-height: 40px;
}

.tbox, .btn {
    border: none;
    outline: none;
}

.tbox {
    width: 0px;
    transition: 0.6s;
}

.email-box:hover > .tbox, .tbox:focus {
    width: 260px;
    padding: 0 10px
}

.btn {
    background: #111;
    color: white;
    padding:0 10px;
    text-transform: uppercase;
    cursor: pointer;
}



/** Content & Images Section **/
.content-images {}
.content-images .grid {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
}
.content-images .image img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: top center;
}


/*--------VÅRA TJÄNSTER-SIDAN-------*/

.about-section {
    background: url(../images/mature-2954603_1920.jpg) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
    margin-top: 80px;
    margin-bottom: 80px;
}

.inner-container {
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 100px;
}

.inner-container h1 {
    margin-bottom: 30px;
    font-size: 30px 900;
    font-weight: 900;
}

.text {
   font-size: 13px;
   color: #545454;
   line-height: 30px;
   text-align: justify;
   margin-bottom: 40px;
}

.skills {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}





/*testsidan*/

.kallangen-header {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 15px;
    width: 100%;
}

.kallangen-header p {
    font-size: 18px;
}

.kallangen-service {
    /*border: 1px solid #ebebeb;*/
    text-align: center;
    background: #fff;
    width: 60%;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 280px;
}

.kallangen-bg {
    height: 300px;
    width: 80%;
    position: relative;
    background: url(../images/motorcycle-2619494_1920.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    align-content: center;
    margin-bottom: -10%;
    margin-top: 30%;
    }

.kallangen-bg h1{
    color: grey;
}

.kallangen-bg h2 {
    color: #fff;
    background: grey;
    border: 1px solid grey;
    font-size: 20px;
    text-align: right;
    font-weight: 700;
    padding: 20px;
    position: absolute;
    left: auto;
    width: 50%;
    margin: 0%;
    bottom: -25%;
    /*border-radius: 50px;*/
    letter-spacing: 2px;
    top: 0;
    right: 0;
    clip-path: polygon(-4px -14px, 105.91% -14px, 107.4% 6.81%, 109.10% 23.60%, 96.81% 23.7%, 87.71% 23.38%, 80.01% 23.31%, 72.28% 22.95%, 65.45% 22.32%, 58.64% 21.48%, 51.87% 20.75%, 46.39% 19.62%, 39.13% 17.87%, 33.1% 15.66%, 25.91% 12.44%, 13.66% 6.7%);
}

/*.kallangen-service:hover .kallangen-bg h2 {
    background: white;
    transition: .9s;
    color: black;
}*/

.kallangen-text {
    padding: 100px 30px 20px;
    font-size: 15px;
    font-weight: 400;
    width: 80%;
}

.kallangen-text p:last-child {
    margin: 0;
    line-height: 1.8;
}







/*-----KONTAKTA OSS-SIDAN------*/









/** googlemaps **/
.google-map {
    width: 50%;
    height: 300px;
    margin-left: 25%;
    margin-top: 10%;
}







/*kontaktformulär*/
.contact-section {
    background: none;
    background-size: cover;
    padding: 40px 0;
    margin-bottom: 100px;
}

/*
.border {
    width: 100px;
    height: 10px;
    background: #34495e;
    margin: 40px auto;
}
*/

.contact-form {
    max-width: 600px;
    margin: auto;
    padding: 10px;
    overflow: hidden;
    color: black;

}

.contact-section h2 {
    font-size: 30px;    
    color: black;
    text-align: center;
    padding-bottom: 20px;
}


.contact-form-text {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 15px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    transition: 0.5s;
}

.contact-section p {
    font-size: 18px;
    text-align: center;
    width: 40%;
    margin-left: 30%;
}

.contact-form-text:focus {
    box-shadow: 0 0 10px 4px black;
}

.textarea.contact-form-text {
    resize: none;
    height: 120px;
    color:white;
}

.contact-form-btn {
    float: center;
    margin-left: 35%;
    background: black;
    color: white;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.contact-form-btn:hover {
    background: black;
}

/*OM OSS-SIDAN*/





.column w505 {
    height: 50vh;
    width: 50vh;
}

.column w505 h2 {
    letter-spacing: 2px;
    text-align: center;

}

.column w505 p {
    letter-spacing: 2px;
    text-align: center;
}

/*har du frågor*/
.header-text {
    background-color: transparent;
    background-size: 100%;
    overflow: hidden;
    padding: 50px 0;
}

.headertext-container {
    width: 100%;
    float: center;
    background-color: transparent;
    padding: 50px;
    color: black;
    padding-bottom: 100px;
}

.headertext-container h1 {
    text-align: center;
    text-shadow: 0px 15px 12px black;
    font-size: 50px;
    text-decoration: underline;
}



.about-container {
    width: 80%;
    height: 330px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 2px 2px 12px black;
    display: flex;
    margin: -7% auto 20px auto;
    justify-content: space-evenly;
    align-items: center;
}

.about-container img {
    height: 250px;
}

.about-text {
    width: 550px;
}

.about-text p:nth-child(1) {
    color: #403e3e;
    font-weight: bold;
    font-size: 23px;
    line-height: 0px;
}

.about-text p:nth-child(2) {
    color: #3e3d3d;
    font-size: 13px;
    font-weight: bold;
    line-height: 5px;
}

.about-text p:nth-child(3),
.about-text p:nth-child(4) {
    color: #7e7d7d;
    font-size: 16px;
}

.about-text button {
    width: 120px;
    height: 40px;
    color: #FFFFFF;
    outline: none;
    border: none;
    background-color: #262525;
}

.services {
    height: 600px;
    background-color: #FFFFFF;
    padding: 2% 10% 0% 10%;
}

.services-text p:nth-child(1) {
    font-weight: bold;
    color: #3e3d3d;
    font-size: 30px;
    line-height: 0px;
}

.services-text p:nth-child(2) {
    font-weight: bold;
    color: #3e3d3d;
    font-size: 15px;
    line-height: 5px;
}
.services-text p:nth-child(3) {
    color: #7e7d7d;
}

.services-text {
    width: 500px;
    margin: 50px 0px;
}

.box-1,.box-2,.box-3 {
    width: 300px;
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-container {
    display: flex;
    justify-content: space-between;
}

.box-1 {
    background-image: url("../images/waves-1867285_1920.jpg");
}

.box-2 {
    background-image: url("../images/waves-1867285_1920.jpg");
}

.box-3 {
    background-image: url("../images/waves-1867285_1920.jpg");
}

.box-1 span,
.box-2 span,
.box-3 span {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.box-1 p:nth-child(2),
.box-2 p:nth-child(2),
.box-3 p :nth-child(2) {
    color: #FFFFFF;
    font-size: 23px;
    line-height: 0px;
}

.box-1 p:nth-child(3),
.box-2 p:nth-child(3),
.box-3 p:nth-child(3) {
    color: #FFFFFF;
    text-align: center;
    width: 230px;
    margin: 0px 0px 20px 0px;
    color: #8f8f8f;
}

.box-1 button,
.box-2 button,
.box-3 button {
    width: 100px;
    height: 30px;
    background-color: #FFFFFF;
    border: none;
    outline: none;
    border-radius: 5px;
}






.omoss-image {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/typewriter-1248088_1920.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
}



.svartbox {
    height: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgb(182, 119, 0);
    /*background-color: rgba(100,75,70);*/
}





/* FOOTER-INSTÄLLNINGAR*/


footer {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color:#111;
}

footer p {
}

footer p:nth-child(1) {
    font-size: 30px;
    font-weight: bold;
    color: #191919;
    line-height: 10px;
}

footer p:nth-child(2) {
    font-size: 16px;
    color: #7e7d7d;
    width: 600px;
    text-align: center;
}

footer p:nth-child(3) {
    font-size: 30px;
    font-weight: bold;
    color: #191919;
    line-height: 10px;
}

.sociala-medier a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e3e3;
    margin: 20px 10px;
    border-radius: 50%;
}

.sociala-medier {
    display: flex;
}

.copyrights h1 {
    color:white;
    font-size: 12px;
    text-align: center;
    left: 50%;
    padding: 0 0 50px 0;
}

.copyrights h3 {
    color: white;
    font-size: 16px;
    text-align: center;
    left:50%;
    padding: 60px 0px 0px 0px;
}

.socials-icons i {
    color: #000000;
}

.socials-icons a:hover,
.a-social-b a:hover {
    background-color: #000000;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    transition: all ease 0.5s;
}

.socials-icons a:hover i,
.a-social-b a:hover i {
    color: #FFFFFF;
    transition: all ease 0.5s;
}

.a-social-b {
    position: fixed;
    top: 50%;
    right: 0px;
    transform: translateY(-50%)
}

.a-social-b a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 0px;
    line-height: 0px;
    background-color: #FFFFFF;
    border: 1px solid #cbcbcb;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}

.a-social-b i{
    color: #2b2b2b;
    font-size: 20px;
}